<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ben.daily_check_in.mapper.CompanyMapper">

    <insert id="insert">
        INSERT INTO `company` (`name`, `invite_code`)
        VALUES (#{name}, #{inviteCode})
    </insert>

    <select id="selectById" resultType="Company">
        SELECT * FROM `company` WHERE `id` = #{id}
    </select>

    <select id="selectByInviteCode" resultType="Company">
        SELECT * FROM `company` WHERE `invite_code` = #{inviteCode}
    </select>

    <update id="dissolve">
        UPDATE `company`
        SET `status` = 0, `dissolved_by` = #{dissolvedBy}, `dissolved_at` = NOW()
        WHERE `id` = #{id} AND `status` = 1
    </update>

    <select id="selectAll" resultType="Company">
        SELECT * FROM `company`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY `id`
    </select>

</mapper>
