<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ben.daily_check_in.mapper.TaskViewerMapper">

    <insert id="insert">
        INSERT INTO `task_viewer` (`task_id`, `user_id`, `created_at`)
        VALUES (#{taskId}, #{userId}, NOW())
    </insert>

    <delete id="deleteByTask">
        DELETE FROM `task_viewer` WHERE `task_id` = #{taskId}
    </delete>

    <select id="selectByTask" resultType="TaskViewer">
        SELECT * FROM `task_viewer` WHERE `task_id` = #{taskId} ORDER BY `created_at`
    </select>

    <select id="selectWithUser" resultType="com.ben.daily_check_in.dto.task.TaskResponse$ViewerItem">
        SELECT u.`id` AS userId, u.`nickname`
        FROM `task_viewer` tv
        JOIN `user` u ON u.`id` = tv.`user_id`
        WHERE tv.`task_id` = #{taskId}
        ORDER BY tv.`created_at`
    </select>

</mapper>
